@font-face {
    font-family: "Scoreboard";
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px; /* test */
}

.container {
    height: 385px;
    width: 575px;
    display: flex;
    justify-content: space-around;
    background-color: #1b244a;
    text-align: center;
}

.score-title{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.score{
    font-family: "Scoreboard", sans-serif;
    font-size: 90px;
    color: #f94f6d ;
    border-radius: 5px;
    background-color: black;
    margin: 0px;
    height: 120px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .btn-style{
    font-family: "Scoreboard", sans-serif;
    font-size: 18px;
    background: none;
    border: 2px solid #9aabd8;
    color: #9aabd8;
    width: 45px;
    height: 45px;
    margin-top: 25px;
    border-radius: 5px;
 }